<%- include('layouts/header') %> <%- include('layouts/nav') %>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/imron25.JPG"
        alt="Rizka M Imron"
        class="img-thumbnail rounded-circle"
        width="150px"
      />
      <h1 class="display-4">Rizka M Imron</h1>
      <p class="lead">Mahasiswa Teknik Informatika</p>
      <p class="lead">UIN Sunan Gunung Djati Bandung</p>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #495057;
  }

  .container {
    margin-top: 50px;
  }

  .img-thumbnail {
    border: 2px solid #f7f30c;
    margin-top: -50px;
  }

  .display-4 {
    color: #000000;
  }

  .lead {
    color: #000000;
  }

  p {
    color: #000000;
    font-family: "Courier New", Courier, monospace;
    padding: -50px;
  }
</style>
